body {
  background: #682d97;
  padding-top: 4px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

.container-fluid {
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

#header {
  padding-top: 10%;
  padding-bottom: 10%;
  background-size: cover;
  background-image: url("../images/Imagen_header.png");
}

.header-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.header-text {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
}

.header-social-image {
  margin: 8px;
  width: 32px;
  height: 32px;
}

#info {
  padding-top: 3%;
  padding-bottom: 3%;
  background: #ffffff;
}

#contact {
  padding-top: 3%;
  padding-bottom: 3%;
  background: #682d97;
}

#slogan {
  padding-top: 3%;
  padding-bottom: 3%;
  background: #ffffff;
}

.internal {
  padding-top: 24px;
  padding-bottom: 12px;
  padding-left: 15%;
  padding-right: 15%;
}

.info-title {
  font-size: 14px;
  font-weight: bold;
}

.info-content {
  font-size: 12px;
  font-weight: normal;
}

.contact-title {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.contact-content {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
}

.input {
  margin-top: 4px;
  margin-bottom: 4px;
}

.info-image {
  width: 96px;
  height: 96px;
}

.centered {
  text-align: center;
}

.slogan-image {
  width: 256px;
  height: 256px;
}

.slogan-text {
  padding: 12px;
  color: #682d97;
  font-size: 24px;
  font-weight: bold;
}

.slogan-subtext {
  padding-top: 24px;
  font-weight: bold;
  font-size: 14px;
}

.slogan-social-text {
  padding-bottom: 24px;
}

.slogan-social-image {
  margin: 4px;
  width: 32px;
  height: 32px;
}

#footer {
  background: #36174f;
}

.footer-text {
  padding-top: 12px;
  padding-bottom: 12px;
  color: #8d8d8d;
}

.alert-container {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 9999;
  border-radius: 0px
}

.radio-input {
  margin: 6px !important;
}

.radio-input-label {
  color: #ffffff;
  margin-right: 12px;
}